/plugin.video.f1tv/
/plugin.video.foxystreams/
/plugin.video.quinnstreams/
/plugin.video.smr_link_tester/
/repository.nemoandcrush/
/resource.images.moviegenreicons.transparent/
/resource.images.studios.white/
/script.extendedinfo/
/script.image.resource.select/
/script.module.kodi65/
/script.module.resolveurl/
/script.module.resolveurl.xxx/
/script.module.routing/
/script.skin.helper.service/
/script.skin.helper.skinbackup/
/script.skin.helper.widgets/
/script.skinshortcuts/
/skin.arctic.zephyr.2/
/skin.project.aura/
.gitignore
.idea/workspace.xml~
